doctype html

html(lang='ru')
    head
        title Page Title
        meta(charset='UTF-8')
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/test2.css')
        script(src='js/auth.js')
        script(script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-website/bundle/bundle.js")
        script.
              supertokens.init({
                apiDomain: "http://localhost:3001",
                apiBasePath: "/auth"
              });
    body
      -let pageNumber = 1

        include ../public/includes/header.pug

        .posts-zone(style="margin-top: 45px")
            form
                input(type='text' placeholder='Искать здесь...')
                button(type='submit')

            each post in posts
                .card
                   h1 #{post.title}
                   h3 #{post.createdAt.toISOString().replace('T', ' ').replace('Z', '').slice(0, 19)}
                   a(href='/users/user/' + post.authorId) #{post.author.name}
                   p #{post.content}
                   if (post.imgPath)
                      img(src=post.imgPath height='300' width='90%')
                   br
                   a(href='posts/post/'+post.id style="margin-top: 20px") открыть



        include ../public/includes/footer.pug
